vendor/
node_modules/
.git
.env
.env.*
storage/*.key
storage/*.log
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
docker-compose.yml
npm-debug.log
yarn-error.log
