APP_NAME=TNTMTECH
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_TIMEZONE=Africa/Douala

LOG_CHANNEL=stack
LOG_LEVEL=debug
DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS=contact@tntmtech.cm
MAIL_FROM_NAME="${APP_NAME}"

TNTMTECH_WHATSAPP_DOUALA=237676388135
TNTMTECH_WHATSAPP_YAOUNDE=237650600990
TNTMTECH_WHATSAPP_FRANCE=33756992282
TNTMTECH_EMAIL=contact@tntmtech.cm
